<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{username}}님의 편지함</title>
    <link rel="stylesheet" href="/static/css/letter.css" />
  </head>
  <body>
    <h1>{{username}}님의 편지함</h1>
    <a href="/" class="home">홈</a>
    <p>
      <span id="linkToCopy"
        >http://192.168.219.107:5000/sendletter/{{username}}</span
      >
    </p>
    <button onclick="copyToClipboard()">편지함링크 복사</button>
    {% for letter in letters %}
    <h2>{{letter}}</h2>
    {% endfor %}
    <script>
      function copyToClipboard() {
        // 텍스트 필드를 선택하고 복사
        var linkToCopy = document.getElementById("linkToCopy");
        var range = document.createRange();
        range.selectNode(linkToCopy);
        window.getSelection().removeAllRanges();
        window.getSelection().addRange(range);
        document.execCommand("copy");
        window.getSelection().removeAllRanges();

        // 복사가 성공했음을 알리는 메시지 표시
        alert("링크가 복사되었습니다: " + linkToCopy.innerText);
      }
    </script>
  </body>
</html>
