<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/register.css" />
    <title>회원가입</title>
  </head>
  <body>
    <h1>크리스마스 익명편지 CML입니다🎅🏻</h1>
    <a href="/" class="home">홈으로 가기</a>
    <h1>회원가입</h1>
    <form id="register" action="/register" method="post">
      <input type="text" name="username" placeholder="아이디" />
      <input type="password" name="password" placeholder="비밀번호" />
      <input type="submit" value="회원가입" />
    </form>
    <h3>{{error}}</h3>
  </body>
</html>
